.card-list {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;

  border-radius: 12px;
  justify-content: space-between;
  text-overflow: ellipsis;
  background: rgba(223, 154, 6, 0.904);
  color: rgb(1, 1, 5);
}
.card-list-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 40px;
}
.city-name {
  text-align: start;
}
.img {
  background-size: cover;
  height: 150px;
  width: auto;
  border-radius: 0 10px;
  object-fit: cover;
}
p {
  text-align: start;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px 20px;
}
@media only screen and (max-width: 600px) {
  .card-list-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .card-list {
    display: flex;
    margin-top: 20px;
  }
}
.load-more-button {
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px;
  width: 30%;
}
