* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-container {
  display: flex;
  justify-content: space-around;
}
.container {
  z-index: -1;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
}
.container .container__info {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  display: flex;
  align-items: flex-end;
  padding: 15px 30px;
  color: #fff;
}
.container .container__info span {
  margin-right: 20px;
}
.container .container__info i {
  margin-right: 10px;
}
.container .container__profile {
  background-color: #0a395e;
  display: flex;
  color: rgb(235, 157, 14);
  align-items: center;
  padding: 10px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: space-around;
}
.container .container__profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}
.container .container__profile h2 {
  font-size: 1.8rem;
}
.container .container__profile p {
  color: #e8f3f3;
  font-size: 20px;
}
.container .container__profile p b {
  font-style: italic;
}
