.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-content {
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  align-self: center;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-end;
  color: rgb(4, 30, 46);
  font-size: 20px;
}
