.container {
  display: flex;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
.place-img-container {
  height: 400px;
  width: 40%;
  border-radius: 20px;
  background-size: cover;
}
.content {
  height: auto;
  width: 40%;
  border-radius: 20px;
  background-color: rgb(91, 75, 233);
  text-align: center;
  color: wheat;
  font-size: 1.2em;
  padding: 20px 20px;
  overflow: hidden;
}
.place-title {
  font-size: 2em;
  color: black;
}
.place-name {
  background: #00ff00;
  background: -webkit-linear-gradient(
    to right,
    #00ff00 51%,
    #ffff00 52%,
    #ff0000 40%
  );
  background: -moz-linear-gradient(
    to right,
    #00ff00 51%,
    #ffff00 52%,
    #ff0000 67%
  );
  background: linear-gradient(to right, #00ff00 21%, #ffff00 52%, #ff0000 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
