.app {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  text-align: center;
}
.title {
  text-align: center;
  font-size: 55px;
  text-decoration: underline;
  letter-spacing: 10px;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 25px;
  }
}
